<footer class="footer">
  <section class="services-block">
    <nav class="services-block__colon">
      <h4 class="h4 services-block__header">Маркетинг</h4>
      <ul class="services-block__list">
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/promo/" class="link">Комплексный маркетинг</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/prodvizhenie" class="link">Аналитика и аудит</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/prodvizhenie" class="link">Поисковая оптимизация</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/prodvizhenie" class="link">Контекстная реклама</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/prodvizhenie" class="link">Email-маркетинг</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/prodvizhenie" class="link">Продвижение в соцсетях</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/prodvizhenie" class="link">Геймификация</a></li>
      </ul>
    </nav>
    <nav class="services-block__colon">
      <h4 class="h4 services-block__header">Разработка</h4>
      <ul class="services-block__list">
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia/mobilnye" class="link">Мобильные приложения</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/webdesign" class="link">Разработка сайтов</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia" class="link">Приложения для соцсетей</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia/mobilnye" class="link">Smart TV</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia" class="link">Multiscreen</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia" class="link">Игры</a></li>
      </ul>
    </nav>
    <nav class="services-block__colon">
      <h4 class="h4 services-block__header">Дизайн</h4>
      <ul class="services-block__list">
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/interfaces" class="link">Интерфейсы</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia/infopresentations" class="link">Бизнес-презентации</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/video/" class="link">Видео и анимация</a></li>
      </ul>
      <ul class="services-block__list">
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia/firmennyj_stil" class="link">Стиль</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/webdesign/promosajty" class="link">Посадочные страницы</a></li>
        <li class="services-block__list-item"><a href="http://www.jetstyle.ru/portfolio/multimedia/graficheskij_dizajn" class="link">Иллюстрации</a></li>
      </ul>
    </nav>
  </section>
  <section class="subscript">
    <h3 class="h4 subscript__title">Подпишитесь на нашу рассылку</h3>
    <form class="subscript__form" method="post" action="http://jetnew.jetstyle.ru/feedback/feedback/send-subscribe">
      <button id="bottom_subscr_button" class="subscript__button button_accent-color">Подписаться</button>
      <span class="subscript__email-wr"><input type="email" placeholder="Email" class="subscript__email" name="Feedback[email]"/></span>
      <p class="subscript__error">Пожалуйста, оставьте ваш email</p>
    </form>
    <div class="soc-icons">
      <a href="https://www.facebook.com/jetstyle.ru" target="_blank" class="soc-icons__item">
        <img src="http://www.jetstyle.ru/static_pages/publish/facebook.svg" alt="facebook" />
      </a>
      <a href="https://twitter.com/jetstyle_" target="_blank" class="soc-icons__item">
        <img src="http://www.jetstyle.ru/static_pages/publish/twitter.svg" alt="twitter" />
      </a>
      <a href="https://vimeo.com/jetstyle" target="_blank" class="soc-icons__item">
        <img src="http://www.jetstyle.ru/static_pages/publish/vimeo.svg" alt="vimeo" />
      </a>
      <a href="http://www.youtube.com/user/videojetstyle" target="_blank" class="soc-icons__item">
        <img src="http://www.jetstyle.ru/static_pages/publish/youtube.svg" alt="youtube" />
      </a>
      <a href="http://www.slideshare.net/JetStyle" target="_blank" class="soc-icons__item">
        <img src="http://www.jetstyle.ru/static_pages/publish/slideshare.svg" alt="slideshare" />
      </a>
    </div>
  </section>
  <section class="footer__copyblock">
    <div class="footer__copyright-wrp" itemscope itemtype="http://schema.org/Organization">
      <address class="footer__address"><span itemprop="addressCountry">Россия</span>, <a class="link footer__map-link" target="_blank" href="https://maps.yandex.ru/54/yekaterinburg/?ll=60.614580%2C56.836100&spn=0.010525%2C0.004706&z=17&l=map&text=%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%2C%20%D0%B3.%20%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3%2C%20%D0%91%D0%A6%20%D0%92%D1%8B%D1%81%D0%BE%D1%86%D0%BA%D0%B8%D0%B9%2C%20%D1%83%D0%BB.%20%D0%9C%D0%B0%D0%BB%D1%8B%D1%88%D0%B5%D0%B2%D0%B0%2C%2051&sll=60.614573%2C56.836104&sspn=0.016158%2C0.005069&ol=biz&oid=1211066155">
                г. <span itemprop="addressLocality">Екатеринбург</span>, БЦ Высоцкий, <span itemprop="streetAddress">ул. Малышева, 51</span> </a>
        <br/>
        <a href="tel:+7(343)384-84-81" itemprop="telephone ">+7&nbsp;(343)&nbsp;384-84-81</a>, <a href="mailto:info@jetstyle.ru" class="link" itemprop="email">info@jetstyle.ru</a>
      </address>
      <div class="footer__copyright">
        © <span itemprop="name">JetStyle</span>, 2004­–2016
      </div>
    </div>
  </section>
</footer>
