<meta charset="utf-8" />
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<meta content="" name="description">
<meta content="" name="keywords">
<meta content="telephone=no" name="format-detection">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true">
<meta content="IE=edge" http-equiv="X-UA-Compatible">

<meta itemprop="image" content="" />
<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="" />
<meta property="og:locale" content="ru_RU" />

<meta property="fb:app_id" content="890195134424647" />
<meta property="fb:admins" content="100002196919558" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@jetstyle_"/>
<meta name="twitter:creator" content="@jetstyle_" />
<meta name="twitter:domain" content="www.jetstyle.ru"/>
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:image" content="" />


<link href="/stylesheets/jet-style.css" rel="stylesheet" type="text/css">

<link rel="shortcut icon" href="/app/skins/jetsite/images/favicon.ico" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 