<header class="header header_on">
  <a class="header__mob-menu-btn" href="#">☰</a>
  <div class="header__logo">
    <a href="http://www.jetstyle.ru/">
      <svg class="header__logo-ico" version="1.1" width="40" height="40" viewBox="0 0 40 40">
        <title>JetStyle — главная</title>
        <desc>JetStyle — главная</desc>
        <style type="text/css">
        .st0 {
          fill-rule: evenodd;
          clip-rule: evenodd;
          fill: #D5131F;
        }
        
        .st1 {
          fill: #ffffff;
        }
        </style>
        <path class="st1" d="M2.4,30.6c0.2,0,0.5,0,0.7,0c3.9,0,6.7-0.9,8.4-2.7c1.6-1.7,2.1-3.8,2.8-6.8l2.2-10H9.2L6.9,21.7c-0.6,2.7-1.1,3.9-3.1,3.9c-0.1,0-0.2,0-0.3,0L2.4,30.6z"></path>
        <path class="st1" d="M13.9,28.8c1.6,1.1,4.3,1.7,7.9,1.7c8.7,0,13.3-2,14.3-6.7c0.1-0.5,0.2-0.9,0.2-1.3c0-2.3-1.7-3.7-5.2-4.3l-6.5-1c-1.8-0.3-2.7-0.5-2.5-1.3c0.1-0.7,1.2-1.3,2.9-1.3c2,0,3.2,0.5,3.3,1.5v-0.2h8.6c0-0.1,0-0.2,0-0.3c0-3.6-3.5-5.2-10.7-5.2c-3.8,0-6.7,0.4-8.7,1.5L15.6,21c1,0.6,2.3,1,4,1.2l5.4,0.7c1.7,0.2,2.5,0.7,2.3,1.5c-0.2,0.9-1.3,1.4-3.3,1.4c-2,0-3.1-0.6-3-1.6h-6.1L13.9,28.8z"></path>
        <polygon class="st1" points="16.9,9 18.1,4 10.8,4 9.7,9 "></polygon>
        <path class="st0" d="M22.4,8.6c3.6-1.1,2.9-4.7,8.2-3c-2-1.2-4.1-1.8-6.1-0.9c-2.6,1.4-4,0.4-3.9-1.1c0.2-2.6,3-1.8,3.9-1.2 c0,0-1.7-1.3-4-1.3c-1.9,0.1-4.2,1.2-5,1.6h4.1l-0.2,1.1c-0.6,3.2,2.4,4.3,4.3,2.3c-2.7,3.3-4.6-0.7-5.3,2.7C20,8.9,21,9.1,22.4,8.6 z"></path>
      </svg>
    </a>
  </div>
  <div class="header__content">
    <nav class="h-menu">
      <h3 class="h-menu__head">Меню</h3>
      <ul class="h-menu__list h-menu__list_bigger">
        <li class="h-menu__item">
          <a href="http://www.jetstyle.ru/" class="h-menu__link_active">Портфолио</a>
        </li>
        <li class="h-menu__item">
          <a href="http://www.jetstyle.ru/promo/" class="h-menu__link">Услуги</a>
        </li>
        <li class="h-menu__item">
          <a href="http://www.jetstyle.ru/novosti" class="h-menu__link">Блог</a>
        </li>
        <li class="h-menu__item">
          <a href="http://www.jetstyle.ru/o_nas" class="h-menu__link">Мы</a>
        </li>
        <li class="h-menu__item">
          <a href="http://www.jetstyle.ru/contacts" class="h-menu__link">Контакты</a>
        </li>
        <li class="h-menu__item h-menu__right-block"><a href="tel:+7(343)384-84-81">+7&nbsp;(343)&nbsp;384-84-81</a></li>
      </ul>
    </nav>
  </div>
</header>
