<section class="jet-team jet-section">
	<div class="jet-team__container jet-width">
		<h2 class="jet-team__header jet-section__header">Команда</h2>
		<div class="jet-team__list">
			{%- for person in ctx.team %}
				<div class="jet-team__person">
					<div class="jet-team__imgbox">
						<img src="/images/team/{{ person.img }}" alt="{{ person.name }} {{ person.lastName }}">
					</div>
					<div class="jet-team__name">
						<span>{{ person.name }}</span><span>{{ person.lastName }}</span>
					</div>
					<div class="jet-team__post">{{ person.post }}</div>
				</div>
			{% endfor -%}
		</div>
	</div>
</section>