<section class="jet-section jet-request jet-bordered">
  <div class="jet-width text-center">
    <div class="jet-request__rocket"></div>
    <h2 class="jet-request__header">Понравился кейс?
                <br>У вас похожая задача?
                <br>Позвоните или напишите нам</h2>
    <p class="jet-request__text"><a href="tel:+7(343)384-84-81">+7&nbsp;(343)&nbsp;384-84-81</a>
      <br>или</p>
    <div>
      <button class="jet-btn popup-show">Оставить заявку</button>
    </div>
  </div>
</section>
