<section class="gray-block_tat r-item r-item_rbt">
  <div class="gray-block__content-wrp">
    <div class="gray-block__rocket"></div>
    <h2 class="h2 gray-block__title">Понравился кейс?
                <br>У вас похожая задача?
                <br>Позвоните или напишите нам</h2>
    <p class="gray-block__text"><a href="tel:+7(343)384-84-81">+7&nbsp;(343)&nbsp;384-84-81</a>
      <br>или</p>
    <div>
      <button class="jet-btn popup-show">Оставить заявку</button>
    </div>
  </div>
</section>
