<div class="jet-section jet-section--no-padbottom jet-bordered text-center">
  <div class="jet-section__header">Другие работы</div>
  <p class="jet-text">Мы работаем над большим количеством крутых
    <br> и интересных проектов. Вот несколько похожих.</p>
  <div class="work-card">
    {%- for item in ctx.works %}
      <a class="work-card__item" href="{{ item.url }}" style="background-image:url({{'/images/works/' ~item.image }});">
        <div class="work-card__footer">
          <div class="work-card__ftext">{{ item.name|safe }}</div>
          <div>
            {% for tag in item.tags %}
              <span class="work-card__tag work-card__tag_type_{{ tag.type }}">{{ tag.label }}</span>
            {% endfor %}
          </div>
        </div>
      </a>
    {%- endfor %}
  </div>
</div>
