{% extends layout %}
{% block content %}
    <div class="c-header" style="height: 100px; background: greenyellow;"></div>
        <div class="c-section-container">
            <section class="c-section">
                <div class="c-section__box">
                    <div class="c-section__content">
                        <div class="c-cards-holder">
                            <div class="c-card__sizer"></div>
                            <div class="c-card__gutter"></div>
                            <div class="c-cards-holder__button" id="more-cards">Показать больше</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="c-section">
                <div class="c-section__box">
                    <div class="c-section__content">
                        <div>
                            Второй тестовый слайд
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="c-footer" style="height: 100px; background: bisque;"></div>
{% endblock %}