{% extends layout %} {% block content %}
<div class="c-section-container">
    <div data-anchor="header" class="section c-header fp-auto-height" style="height: 100px; background: greenyellow;">header</div>
    <section data-anchor="main" class="section c-section c-section_main">
        <div class="c-section__background" style="background-image: url({{ 'main.png'|cdn }})"></div>
        <div class="c-section__header c-headline c-headline_header">
            <span class="c-headline__text">#мечтатьневредно</span>
        </div>     
        <div class="c-section__box">
            <div class="c-section__content">
                <ul class="c-menu" id="menu">
                    {% set menu = [
                        {
                            name: 'Об акции',
                            link: 'about'
                        },
                        {
                            name: 'Как участвовать?',
                            link: 'participate'
                        },
                        {
                            name: 'Какой приз?',
                            link: 'gifts'
                        },
                        {
                            name: 'О чем мечтают участницы?',
                            link: 'stars'
                        },
                        {
                            name: 'О чем мечтают звезды',
                            link: 'girls'
                        },
                        {
                            name: 'Великие мечтательницы',
                            link: 'dreamers'
                        },
                        {
                            name: 'Правила участия',
                            link: 'rules'
                        }
                    ] %} 
                    {% for item in menu %}
                        <li class="c-menu__item" data-menuanchor="{{item.link}}">
                            <a href="{{'#' + item.link}}">{{item.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section data-anchor="about" class="section c-section c-section_about">
        <div class="c-section__background" style="background-image: url({{ 'about-right.png'|cdn }})"></div>
        <div class="c-section__background" style="background-image: url({{ 'about-left.png'|cdn }})"></div>        
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-info c-info_centered">
                    <div class="c-headline c-info__header">
                        <span class="c-headline__text">Об акции</span>
                    </div>
                    <p>
                        Все в&#160;нашей жизни начинается с&#160;мечты.
                        Самые крутые изобретения,без которых сегодня мы&#160;не&#160;можем представить свою жизнь,
                        сначала были чьими-то фантазиями.
                    </p>
                    <p>
                        Наверняка ты&#160;не&#160;раз задумывалась о&#160;том, чтобы изменить этотмир к&#160;лучшему.
                        В&#160;наш век технологий нет ничего невозможного!
                        Поделись своей светлой идеей и&#160;получи возможность выиграть
                        отличные призы и&#160;фотосессию в&#160;журнале Elle Girl!
                    </p>
                     <a href="#participate" class="c-button c-info__button">
                        <div class="c-button__text">
                             Как участвовать?
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section data-anchor="participate" class="section c-section c-section_how-to-participate">
        <div class="c-section__background" style="background-image: url({{ 'girl-right.png'|cdn }})"></div>        
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-info">
                    <div class="c-headline c-info__header">
                        <span class="c-headline__text">Как участвовать?</span>
                    </div>
                    <p>
                        Помечтай на&#160;тему: &#171;Как&#160;бы я&#160;изменила мир к&#160;лучшему с&#160;помощью технологий?&#187;
                    </p>
                    <p>
                        Напиши о&#160;своей идее небольшой пост.
                    </p>
                    <p>
                        Поставь хэштэг <span class="c-hashtag">#МечтатьНеВредно</span> и опубликуй пост в&#160;соцсети: ВК, Instagram или Twitter.
                        Будет здорово, если приложишь фото или видео ;)
                    </p>
                    <p>
                        Обязательное условие конкурса&#160;&#8212; сделать свойпрофиль открытым!
                        Пусть о&#160;твоей идее узнают все!
                    </p>
                    <p>
                        Подробные правила конкурса <a href="#rules" class="c-link">читай тут</a>
                    </p>
                    <a href="#gifts" class="c-button c-info__button">
                        <span class="c-button__text">Какой приз?</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section data-anchor="gifts" class="section c-section c-section_gifts">
        <div class="c-section__background" style="background-image: url({{ 'girl-left.png'|cdn }})"></div>        
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-info c-info_right">
                    <div class="c-headline c-info__header">
                        <span class="c-headline__text">Какой приз?</span>
                    </div>
                    <p>
                        Автору самой блестящей идеи&#160;&#8212; фотосессия в&#160;журнале ELLE Girl
                        и&#160;планшет-трансформер Lenovo Yoga book.
                    </p>
                    <p>
                        Двум финалистам: планшет-трансформерA sus Transformer Mini T102
                        и&#160;планшет-трансформер Acer Aspire&#160;R3.
                    </p>
                    <p>
                        Делись фантазиями&#160;&#8212; получай отличные подарки!
                    </p>
                    <a href="#" data-featherlight="#participate-popup" class="c-button c-info__button">
                        <span class="c-button__text">Участвовать!</span>
                    </a>
                    <div id="participate-popup" class="c-popup">
                        <p class="c-popup__text">
                            Перейди в&#160;любую социальную сеть и&#160;опубликуй свой пост с&#160;хэштэгом
                            <span class="c-hashtag">#МечтатьНеВредно</span> (в&#160;настройках профиль должен быть открытым).
                        </p>
                        <div class="c-popup__social">
                            <a href="https://www.instagram.com/" class="c-social" style="background-image: url({{ 'instagram.png'|cdn }})"></a>
                            <a href="https://twitter.com/" class="c-social" style="background-image: url({{ 'twitter.png'|cdn }})"></a>
                            <a href="https://vk.com/" class="c-social" style="background-image: url({{ 'vk.png'|cdn }})"></a>
                        </div>
                        <p class="c-popup__thesis">
                            Меняй мир к&#160;лучшему&#160;&#8212; тебе это по&#160;силам!
                        </p>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
    <section data-anchor="stars" class="section c-section c-section_stars">
        <div class="c-section__background" style="background-image: url({{ 'stars.png'|cdn }})"></div>                
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-bloggers-wrapper">
                    <div class="c-headline c-headline_blue">
                        <span class="c-headline__text">О чем мечтают звезды?</span>
                    </div>
                    <p class="c-section__description">
                        Вдохновляйся идеями знаменитостей и&#160;блогеров! Присоединяйся!
                    </p>
                    <div class="c-bloggers">
                        {% set bloggers = [ { name: "Катя Клэп", image: "blogger-1.png" } ] %} {% for blogger in bloggers|loop(12) %}
                        <div class="c-blogger">
                            <div class="c-blogger__image" style="background-image: url({{ blogger.image|img_asset }})"></div>
                            <div class="c-blogger__name">
                                {{ blogger.name }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-anchor="girls" class="section c-section c-section_girls">
        <div class="c-section__background" style="background-image: url({{ 'participants.png'|cdn }})"></div>                        
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-headline">
                    <span class="c-headline__text">О чем мечтают участницы?</span>
                </div>
                <p class="c-section__description">
                    Фантазируй и меняй мир к лучшему!
                </p>
                <div class="c-cards-holder">
                    <div class="c-card__sizer"></div>
                    <div class="c-cards-holder__button" id="more-cards">Показать больше</div>
                </div>
            </div>
        </div>
    </section>
    <section data-anchor="dreamers" class="section c-section c-section_dreamers">
        <div class="c-section__background" style="background-image: url({{ 'dreamers.png'|cdn }})"></div>                        
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-headline">
                    <span class="c-headline__text">Великие мечтательницы</span>
                </div>
                <div class="c-dreamers">
                    {% set dreamers = [ { name: "Диана", lastname: "Коверн", work: "Физик", image: "dreamer-1.png" } ] %}
                    {% for dreamer in dreamers|loop(10) %}
                        <div class='c-card'>
                            <div class='c-card__image' style='background-image: url({{ dreamer.image|cdn }});'>
                                <div class='c-card__image_embedded'></div>
                                <div class="c-card__info">
                                    <div class='c-card__name'>{{dreamer.name}}
                                        <span class="c-card__last-name">{{dreamer.lastname}}</span>
                                    </div>
                                    <div class="c-card__work">{{dreamer.work}}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section data-anchor="rules" class="section c-section c-section_condition">
        <div class="c-section__box">
            <div class="c-section__content">
                <div class="c-headline c-headline_blue">
                    <span class="c-headline__text">Условия конкурса</span>
                </div><br>
                <div class="c-headline c-headline_blue">
                    <span class="c-headline__text">&#171;Мечтать не вредно&#187;</span>
                </div>
                {% set conditions = [ {
                theme: "Предмет соглашения",
                text: "Настоящее соглашение (далее – “Правила”) регламентирует взаимоотношения между организаторомКонкурса «МЕЧТАТЬ НЕ ВРЕДНО» (далее - «Конкурс») ООО «Майкрософт Рус», юридическим лицом, созданнымв соответствии с законодательством Российской Федерации, с местом нахождения по адресу: Москва,ул. Крылатская, д.17 (далее – «Организатор»), с одной стороны, и участниками Конкурса с другой."
                } ] %}
                {% for condition in conditions|loop(5) %}
                <div class="c-condition">
                    <div class="c-condition__header" data-number={{loop.index}}> {{condition.theme + "."}} </div>
                    <div class="c-condition__text">{{condition.text}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section data-anchor="end" class="section c-section c-section_end">
        <div class="c-section__background" style="background-image: url({{ 'dreamers.png'|cdn }})"></div>                        
            <div class="c-section__box">
                <div class="c-section__content">                
                    <div class="c-section__footer c-headline c-headline_footer">
                        <span class="c-headline__text">#мечтатьневредно</span>
                    </div> 
                    <div class="c-section__thesis">
                        Поделись своей мечтой в&#160;социальной сети (ВК, Instagram или Twitter). Меняй мир к&#160;лучшему, тебе это по&#160;силам!
                    </div>
                     <a href="#" data-featherlight="#participate-popup" class="c-button c-info__button">
                         <span class="c-button__text">Участвовать!</span>
                    </a>
                    <p>
                        У&#160;тебя есть вопрос? Напиши нам: <a class="c-link" href="mailto:mail@msmechta.ru">mail@msmechta.ru</a>
                    </p>
                </div>
            </div>
    </section>
    <div data-anchor="footer" class="section c-footer fp-auto-height" style="height: 100px; background: bisque;">footer</div>
</div>
{% endblock %}
