
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  {% include "jet-blocks/head.html" %}

  {# Дополнительная статика в head #}
  {%- block head %}{% endblock -%}
</head>
<body>
  <div class="hero" style="{% block heroStyle %}{% endblock %}">
    {% include "jet-blocks/header.html" %}
    {% include "blocks/heroContent.html" %}
  </div>

  {# Основной контент страницы #}
  {% block content %}{% endblock content %}
  
  {% include "jet-blocks/request.html" %}
  {% include "jet-blocks/work-cards.html" %}
  {% include "jet-blocks/footer.html" %}
  {% include "jet-blocks/popups.html" %}
  {% include "jet-blocks/analitics.html" %}
  

  <script src="/javascripts/jet.min.js"></script>

  {%- if isExport %}
    <script src="/javascripts/app.min.js"></script>
    {%- else %}    
    <script src="//localhost:35729/livereload.js"></script>
    <script src="/javascripts/app.js"></script>
  {%- endif %}

  {# Дополнительная статика в body #}
  {%- block footer %}{% endblock -%}
</body>
