/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'wf_segoe-ui', Segoe UI, SegoeUI, Tahoma, Verdana, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: #00bcf2;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #26cfff;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.eot');
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.eot?#iefix') format('embedded-opentype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.woff') format('woff'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.ttf') format('truetype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.svg#web') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.eot');
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.eot?#iefix') format('embedded-opentype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.woff') format('woff'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.ttf') format('truetype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.svg#web') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.eot');
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.eot?#iefix') format('embedded-opentype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.woff') format('woff'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.ttf') format('truetype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.svg#web') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.eot');
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.eot?#iefix') format('embedded-opentype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.woff') format('woff'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.ttf') format('truetype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.svg#web') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.eot');
  src: url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.eot?#iefix') format('embedded-opentype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.woff') format('woff'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.ttf') format('truetype'), url('https://c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.svg#web') format('svg');
  font-weight: 600;
  font-style: normal;
}
.c-dpe-footer {
  background-color: #d7d9da;
  background-color: #f2f2f2;
  padding: 40px 0;
}
.c-dpe-footer__menu {
  list-style-type: none;
  margin: 0 0 0 -25px;
  padding: 0;
  text-align: center;
}
.c-dpe-footer__menu-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
@media (max-width: 960px) {
  .c-dpe-footer__menu-item {
    margin-bottom: 8px;
  }
}
.c-dpe-footer__menu-item img {
  vertical-align: middle;
}
.c-dpe-footer__links {
  text-align: center;
  margin-bottom: 30px;
}
.c-dpe-footer__links-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .c-dpe-footer__links-item {
    margin-left: 0px;
    margin-bottom: 8px;
    display: block;
  }
}
.c-dpe-footer__links-item a {
  color: #4a4c4f;
}
.c-dpe-footer__links-item a:hover {
  text-decoration: none;
}
.c-dpe-footer__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.h-clearfix:before,
.h-clearfix:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.h-clearfix:after {
  clear: both;
}
