// this file for the defaults styles, such as <body> or <a> for example...

.c-icon {
	// temp styles, don't remove this rulset
	display: inline-block;
	background-image: url(../images/iconset.png);
	background-repeat: no-repeat;
}