<div class="shell-footer" ms.pgarea="uhffooter" data-bi-area="Footer" data-bi-view="5xLinks">
    <div class="shell-footer-wrapper">
        <div class="shell-footer-menugroups" ms.cmpgrp="footer nav">
            <div class="sfm-group" ms.cmpnm="Industries">
                <div class="grp-title">
                    Отрасли <i class="shell-icon-dropdown"></i>
                </div>
                <ul>
                    <li>
                        <a href="https://www.microsoft.com/ru-ru/education/default.aspx" ms.title="Образование" data-bi-name="Industries_Education" data-bi-slot="1" data-bi-source="Compass">
                                            Образование
                                        </a>
                    </li>
                    <li>
                        <a href="https://enterprise.microsoft.com/ru-ru/industries/government/#fbid=JuAXHbXOkon" ms.title="Государственный сектор" data-bi-name="Industries_Government" data-bi-slot="2" data-bi-source="Compass">
                                            Государственный сектор
                                        </a>
                    </li>
                    <li>
                        <a href="https://enterprise.microsoft.com/ru-ru/industries/health/#fbid=JuAXHbXOkon" ms.title="Здравоохранение" data-bi-name="Industries_Health" data-bi-slot="3" data-bi-source="Compass">
                                            Здравоохранение
                                        </a>
                    </li>
                    <li>
                        <a href="https://enterprise.microsoft.com/ru-ru/industries/hospitality-and-travel/" ms.title="Гостиничный бизнес и путешествия" data-bi-name="Industries_HospitalityandTravel" data-bi-slot="4" data-bi-source="Compass">
                                            Гостиничный бизнес и путешествия
                                        </a>
                    </li>
                    <li>
                        <a href="https://enterprise.microsoft.com/ru-ru/industries/retail-and-consumer-goods/" ms.title="Розничные и потребительские товары" data-bi-name="Industries_RetailandConsumerGoods" data-bi-slot="5" data-bi-source="Compass">
                                            Розничные и потребительские товары
                                        </a>
                    </li>
                </ul>
            </div>
            <div class="sfm-group" ms.cmpnm="For Customers">
                <div class="grp-title">
                    Для клиентов <i class="shell-icon-dropdown"></i>
                </div>
                <ul>
                    <li>
                        <a href="https://www.microsoft.com/ru-ru/business/" ms.title="Для бизнеса" data-bi-name="Forcustomers_SmallandMidsizeBusinesses" data-bi-slot="1" data-bi-source="Compass">
                                            Для бизнеса
                                        </a>
                    </li>
                    <li>
                        <a href="https://enterprise.microsoft.com/ru-ru/#fbid=JuAXHbXOkon" ms.title="Enterprise" data-bi-name="Forcustomers_Enterprises" data-bi-slot="2" data-bi-source="Compass">
                                            Enterprise
                                        </a>
                    </li>
                    <li>
                        <a href="https://go.microsoft.com/fwlink/?LinkID=808093" ms.title="Microsoft AppSource" data-bi-name="Forcustomers_MicrosoftAppSource" data-bi-slot="3" data-bi-source="Compass">
                                            Microsoft AppSource
                                        </a>
                    </li>
                </ul>
            </div>
            <div class="sfm-group" ms.cmpnm="ForPartners">
                <div class="grp-title">
                    Для партнеров <i class="shell-icon-dropdown"></i>
                </div>
                <ul>
                    <li>
                        <a href="https://partner.microsoft.com/ru-ru" ms.title="Microsoft partner resources" data-bi-name="ForPartners_MicrosoftPartnerResources" data-bi-slot="1" data-bi-source="Compass">
                                            Microsoft partner resources
                                        </a>
                    </li>
                    <li>
                        <a href="https://pinpoint.microsoft.com/ru-ru" ms.title="Pinpoint" data-bi-name="ForPartners_FindaSolutionProvider" data-bi-slot="2" data-bi-source="Compass">
                                            Pinpoint
                                        </a>
                    </li>
                    <li>
                        <a href="https://azure.microsoft.com/ru-ru/community/partners/grow-your-business/" ms.title="Partner with Microsoft Azure " data-bi-name="ForPartners_PartnerwithMicrosoftAzure" data-bi-slot="3" data-bi-source="Compass">
                                            Partner with Microsoft Azure 
                                        </a>
                    </li>
                    <li>
                        <a href="https://partner.microsoft.com/ru-ru/wpc" ms.title="Microsoft Inspire" data-bi-name="ForPartners_MicrosoftWorldwidePartnerConference" data-bi-slot="4" data-bi-source="Compass">
                                            Microsoft Inspire
                                        </a>
                    </li>
                </ul>
            </div>
            <div class="sfm-group" ms.cmpnm="ForDevelopers">
                <div class="grp-title">
                    Для разработчиков
                    <i class="shell-icon-dropdown"></i>
                </div>
                <ul>
                    <li>
                        <a href="https://azure.microsoft.com/ru-ru/" ms.title="Microsoft Azure " data-bi-name="ForDevelopers_MicrosoftAzure" data-bi-slot="1" data-bi-source="Compass">
                                            Microsoft Azure 
                                        </a>
                    </li>
                    <li>
                        <a href="https://www.visualstudio.com/" ms.title="Microsoft Visual Studio" data-bi-name="ForDevelopers_MicrosoftVisualStudio" data-bi-slot="2" data-bi-source="Compass">
                                            Microsoft Visual Studio
                                        </a>
                    </li>
                    <li>
                        <a href="https://msdn.microsoft.com/ru-ru" ms.title="Microsoft Developer Network " data-bi-name="ForDevelopers_MicrosoftDeveloperNetwork" data-bi-slot="3" data-bi-source="Compass">
                                            Microsoft Developer Network 
                                        </a>
                    </li>
                    <li>
                        <a href="https://technet.microsoft.com/ru-ru" ms.title="TechNet " data-bi-name="ForDevelopers_TechNet " data-bi-slot="4" data-bi-source="Compass">
                                            TechNet 
                                        </a>
                    </li>
                    <li>
                        <a href="https://technet.microsoft.com/en-us" ms.title="Application Development" data-bi-name="ForDevelopers_ApplicationDevelopment" data-bi-slot="5" data-bi-source="Compass">
                                            Application Development
                                        </a>
                    </li>
                </ul>
            </div>
            <div class="sfm-group" ms.cmpnm="Values">
                <div class="grp-title">
                    Ценности
                    <i class="shell-icon-dropdown"></i>
                </div>
                <ul>
                    <li>
                        <a href="https://privacy.microsoft.com/ru-ru" ms.title="Правила обеспечения конфиденциальности корпорации Майкрософт" data-bi-name="Values_PrivacyatMicrosoft" data-bi-slot="1" data-bi-source="Compass">
                                            Правила обеспечения конфиденциальности корпорации Майкрософт
                                        </a>
                    </li>
                    <li>
                        <a href="https://www.microsoft.com/ru-ru/education" ms.title="Образование" data-bi-name="Values_MicrosoftinEducation" data-bi-slot="2" data-bi-source="Compass">
                                            Образование
                                        </a>
                    </li>
                </ul>
            </div>
            <div class="sfm-group" ms.cmpnm="Company">
                <div class="grp-title">
                    Компания <i class="shell-icon-dropdown"></i>
                </div>
                <ul>
                    <li>
                        <a href="http://aka.ms/rupiicareers" ms.title="Карьера в Microsoft" data-bi-name="Company_Careers" data-bi-slot="1" data-bi-source="Compass">
                                            Карьера в Microsoft
                                        </a>
                    </li>
                    <li>
                        <a href="https://www.microsoft.com/ru-ru/news/inside_ms.aspx" ms.title="Microsoft" data-bi-name="Company_AboutMicrosoft" data-bi-slot="2" data-bi-source="Compass">
                                            Microsoft
                                        </a>
                    </li>
                    <li>
                        <a href="https://www.microsoft.com/rus/newscenter/" ms.title="Новости и публикации" data-bi-name="Company_CompanyNews" data-bi-slot="3" data-bi-source="Compass">
                                            Новости и публикации
                                        </a>
                    </li>
                    <li>
                        <a href="https://www.microsoft.com/ru-ru/sitemap.aspx" ms.title="Продукты" data-bi-name="Company_SiteMap" data-bi-slot="4" data-bi-source="Compass">
                                            Продукты
                                        </a>
                    </li>
                    <li>
                        <a href="http://aka.ms/ruprivacy " ms.title="Политика по персональным данным" data-bi-name="Company_Careers" data-bi-slot="5" data-bi-source="Compass">
                                            Политика по персональным данным
                                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shell-footer-lang" ms.cmpgrp="loc picker" ms.cmpnm="loc picker">
            <ul>
                <li>
                    <i class="shell-icon-globe"></i>
                </li>
                <li>
                    <a id="locale-picker-link" ms.title="Русский (Россия)" href="http://www.microsoft.com/en-us/locale.aspx" data-bi-name="LocalePicker">
                            Русский (Россия)&lrm;
                        </a>
                </li>
            </ul>
        </div>
        <div class="shell-footer-copyright" ms.cmpgrp="corp links" ms.cmpnm="corp" role="contentinfo">
            <ul>
                <li>
                    <a id="shellmenu_0" href="https://support.microsoft.com/contactus/?ws=mscom" ms.title="Контактная информация" class="ctl_footerNavLink" data-bi-name="Footer_ContactUs" data-bi-slot="1">
                                    Контактная информация
                                </a>
                </li>
                <li>
                    <a id="shellmenu_1" href="https://go.microsoft.com/fwlink/?LinkId=521839" ms.title="Конфиденциальность" class="ctl_footerNavLink" data-bi-name="Footer_PrivacyandCookies" data-bi-slot="2">
                                    Конфиденциальность
                                </a>
                </li>
                <li>
                    <a id="shellmenu_2" href="https://go.microsoft.com/fwlink/?LinkID=206977" ms.title="Условия использования" class="ctl_footerNavLink" data-bi-name="Footer_TermsOfUse" data-bi-slot="3">
                                    Условия использования
                                </a>
                </li>
                <li>
                    <a id="shellmenu_3" href="https://www.microsoft.com/trademarks" ms.title="Товарные знаки" class="ctl_footerNavLink" data-bi-name="Footer_Trademarks" data-bi-slot="4">
                                    Товарные знаки
                                </a>
                </li>
                <li>
                    <a id="shellmenu_4" href="https://choice.microsoft.com/" ms.title="Сведения о рекламе" class="ctl_footerNavLink" data-bi-name="Footer_AboutourAds" data-bi-slot="5">
                                    Сведения о рекламе
                                </a>
                </li>
                <li class="ctl_footerCopyright">
                    &copy; 2017 Microsoft
                </li>
            </ul>
        </div>
    </div>
</div>