<div id="shell-header" class="shell-header shell-responsive " ms.pgarea="header" role="banner" data-ckrate="0">
            <div class="shell-header-wrapper">
                <div class="shell-header-top" data-bi-area="HeaderL0" data-bi-view="L0V1">
                    <div class="shell-header-brand" ms.cmpgrp="logo">
                        <a id="srv_shellHeaderMicrosoftLogo" href="https://www.microsoft.com" ms.cmpnm="MicrosoftBrandLogo" ms.title="Microsoft" title="Microsoft" data-bi-name="BrandLogo" tabindex="10">
                            <img src="https://assets.onestore.ms/cdnfiles/external/uhf/long/9a49a7e9d8e881327e81b9eb43dabc01de70a9bb/images/microsoft-gray.png" alt="Microsoft">
                        </a>
                    </div>
                    <div class="shell-header-nav-wrapper" ms.cmpgrp="nav" role="navigation">
                        <ul class="shell-header-nav" role="menubar" id="srv_shellHeaderNav" data-bi-area="L1" data-bi-view="Hovermenus">
                            <li class="shell-header-user-mobile-container"></li>
                            <li class="shell-header-dropdown  " data-navcontainer="shellmenu_29_NavContainer">
                                <div id="shellmenu_29" class="shell-header-dropdown-label">
                                    <a id="Облако-navigation" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Облако" data-bi-name="Cloud" data-bi-slot="1" tabindex="20">Облако</a>
                                </div>
                                <div class="shell-header-dropdown-content shell-header-dropdown-content-notab" aria-hidden="true" role="menu">
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Облако; Платформа">
                                        <dt id="shellmenu_30" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://www.microsoft.com/ru-ru/server-cloud/" ms.title="Платформа" tabindex="20" data-bi-name="Cloud_Platform">Платформа</a>
                                        </dt>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Облако; Инфраструктура">
                                        <dt id="shellmenu_31" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://www.microsoft.com/ru-ru/server-cloud/cloud-os/modern-data-center.aspx" ms.title="Инфраструктура" tabindex="20" data-bi-name="Cloud_Infrastructure">Инфраструктура</a>
                                        </dt>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Облако; Microsoft Azure">
                                        <dt id="shellmenu_32" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://azure.microsoft.com" ms.title="Microsoft Azure" tabindex="20" data-bi-name="Cloud_MicrosoftAzure">Microsoft Azure</a>
                                        </dt>
                                    </dl>
                                </div>
                            </li>
                            <li class="shell-header-dropdown  " data-navcontainer="shellmenu_33_NavContainer">
                                <div id="shellmenu_33" class="shell-header-dropdown-label">
                                    <a id="Мобильность-navigation" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Мобильность" data-bi-name="Mobility" data-bi-slot="2" tabindex="20">Мобильность</a>
                                </div>
                                <div class="shell-header-dropdown-content shell-header-dropdown-content-notab" aria-hidden="true" role="menu">
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Мобильность; Мобильность предприятия">
                                        <dt id="shellmenu_34" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://www.microsoft.com/ru-ru/cloud-platform/enterprise-mobility-security" ms.title="Мобильность предприятия" tabindex="20" data-bi-name="Mobility_EnterpriseMobility">Мобильность предприятия</a>
                                        </dt>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Мобильность; Мобильность офиса">
                                        <dt id="shellmenu_35" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://products.office.com/ru-ru/business/enterprise-mobile-productivity" ms.title="Мобильность офиса" tabindex="20" data-bi-name="Mobility_OfficeMobility">Мобильность офиса</a>
                                        </dt>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Мобильность; Windows mobility">
                                        <dt id="shellmenu_36" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://www.microsoft.com/en-us/WindowsForBusiness/windows-industry" ms.title="Windows mobility" tabindex="20" data-bi-name="Mobility_WindowsMobility">Windows mobility</a>
                                        </dt>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Мобильность; Microsoft Surface">
                                        <dt id="shellmenu_37" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://www.microsoft.com/surface/en-us/business/overview" ms.title="Microsoft Surface" tabindex="20" data-bi-name="Mobility_Microsoft Lumia">Microsoft Surface</a>
                                        </dt>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Мобильность; Microsoft Lumia">
                                        <dt id="shellmenu_38" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                                            <a href="https://www.microsoft.com/ru-ru/mobile/lumia-for-business/home/" ms.title="Microsoft Lumia" tabindex="20" data-bi-name="Mobility_Microsoft Lumia">Microsoft Lumia</a>
                                        </dt>
                                    </dl>
                                </div>
                            </li>
                            <li class="shell-header-dropdown  " data-navcontainer="shellmenu_39_NavContainer">
                                <div id="shellmenu_39" class="shell-header-dropdown-label">
                                    <a id="Продуктивность -navigation" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Продуктивность " data-bi-name="Productivity" data-bi-slot="3" tabindex="20">Продуктивность</a>
                                </div>
                                <div class="shell-header-dropdown-content " aria-hidden="true" role="menu">
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Продуктивность ; Office">
                                        <dt id="shellmenu_40" class="shell-header-dropdown-tab-label">
                                            <a href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Office" ms.interactiontype="14" tabindex="20" data-bi-dnt="">Office
                                            <i class="shell-icon-dropdown facing-right"></i>
                                        </a>
                                        </dt>
                                        <dd class="shell-header-dropdown-tab-content" data-col="0">
                                            <ul class="shell-header-dropdown-tab-list">
                                                <li id="shellmenu_41">
                                                    <a href="https://products.office.com/ru-ru/business/office" class="shell-l3-list-item" ms.title="Office&nbsp;для бизнеса" tabindex="20" data-bi-name="Productivity_Office_Office365forbusiness">
                                    Office&nbsp;для бизнеса
                                </a>
                                                </li>
                                                <li id="shellmenu_42">
                                                    <a href="https://products.office.com/ru-ru/business/compare-office-365-for-business-plans" class="shell-l3-list-item" ms.title="Планы и цены " tabindex="20" data-bi-name="Productivity_Office_Plansandpricing">
                                    Планы и цены 
                                </a>
                                                </li>
                                                <li id="shellmenu_43">
                                                    <a href="https://products.office.com/ru-ru/business/explore-office-365-for-business" class="shell-l3-list-item" ms.title="Office 365 для SMB " tabindex="20" data-bi-name="Productivity_Office_Office365forSMB">
                                    Office 365 для SMB 
                                </a>
                                                </li>
                                                <li id="shellmenu_44">
                                                    <a href="https://products.office.com/ru-ru/business/enterprise-productivity-tools" class="shell-l3-list-item" ms.title="Office 365 для предприятий " tabindex="20" data-bi-name="Productivity_Office_Office365forEnterprise">
                                    Office 365 для предприятий 
                                </a>
                                                </li>
                                                <li id="shellmenu_45">
                                                    <a href="https://products.office.com/ru-ru/skype-for-business" class="shell-l3-list-item" ms.title="Skype для бизнеса " tabindex="20" data-bi-name="Productivity_Office_Skypeforbusiness">
                                    Skype для бизнеса 
                                </a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Продуктивность ; Windows">
                                        <dt id="shellmenu_46" class="shell-header-dropdown-tab-label">
                                            <a href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Windows" ms.interactiontype="14" tabindex="20" data-bi-dnt="">
                                            Windows
                                            <i class="shell-icon-dropdown facing-right"></i>
                                        </a>
                                        </dt>
                                        <dd class="shell-header-dropdown-tab-content" data-col="0">
                                            <ul class="shell-header-dropdown-tab-list">
                                                <li id="shellmenu_47">
                                                    <a href="https://www.microsoft.com/ru-ru/WindowsForBusiness/default.aspx" class="shell-l3-list-item" ms.title="Windows 10 для бизнеса " tabindex="20" data-bi-name="Productivity_Windows_Windows10ForBusiness">
                                    Windows 10 для бизнеса 
                                </a>
                                                </li>
                                                <li id="shellmenu_48">
                                                    <a href="https://www.microsoft.com/ru-ru/WindowsForBusiness/windows-iot" class="shell-l3-list-item" ms.title="Windows 10 для интернета вещей " tabindex="20" data-bi-name="Productivity_Windows_Windows10ForInternetOfThings">
                                    Windows 10 для интернета вещей 
                                </a>
                                                </li>
                                                <li id="shellmenu_49">
                                                    <a href="https://www.microsoft.com/ru-ru/WindowsForBusiness/featured-devices" class="shell-l3-list-item" ms.title="Устройства с Windows " tabindex="20" data-bi-name="Productivity_Windows_WindowsDevices">
                                    Устройства с Windows 
                                </a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Продуктивность ; Данные и аналитика ">
                                        <dt id="shellmenu_50" class="shell-header-dropdown-tab-label">
                                            <a href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Данные и аналитика " ms.interactiontype="14" tabindex="20" data-bi-dnt="">
                                            Данные и аналитика 
                                            <i class="shell-icon-dropdown facing-right"></i>
                                        </a>
                                        </dt>
                                        <dd class="shell-header-dropdown-tab-content" data-col="0">
                                            <ul class="shell-header-dropdown-tab-list">
                                                <li id="shellmenu_51">
                                                    <a href="https://www.microsoft.com/ru-ru/server-cloud/products/sql-server/default.aspx" class="shell-l3-list-item" ms.title="Microsoft SQL Server" tabindex="20" data-bi-name="Productivity_DataAndAnalytics_MicrosoftSQLServer">
                                    Microsoft SQL Server
                                </a>
                                                </li>
                                                <li id="shellmenu_52">
                                                    <a href="https://powerbi.microsoft.com/ru-ru/" class="shell-l3-list-item" ms.title="Microsoft Power BI" tabindex="20" data-bi-name="Productivity_DataAndAnalytics_MicrosoftPowerBI">
                                    Microsoft Power BI
                                </a>
                                                </li>
                                                <li id="shellmenu_53">
                                                    <a href="https://www.microsoft.com/ru-ru/server-cloud/cortana-analytics-suite/overview.aspx" class="shell-l3-list-item" ms.title="Microsoft Cortana Intelligence Suite" tabindex="20" data-bi-name="Productivity_DataAndAnalytics_CortanaAnalyticsSuite">
                                    Microsoft Cortana Intelligence Suite
                                </a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl class="shell-header-dropdown-tab  " ms.cmpnm="Продуктивность ; Управление операциями ">
                                        <dt id="shellmenu_54" class="shell-header-dropdown-tab-label">
                                            <a href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" ms.title="Управление операциями " ms.interactiontype="14" tabindex="20" data-bi-dnt="">
                                            Управление операциями 
                                            <i class="shell-icon-dropdown facing-right"></i>
                                        </a>
                                        </dt>
                                        <dd class="shell-header-dropdown-tab-content" data-col="0">
                                            <ul class="shell-header-dropdown-tab-list">
                                                <li id="shellmenu_55">
                                                    <a href="https://www.microsoft.com/ru-ru/cloud-platform/operations-management-suite" class="shell-l3-list-item" ms.title="Operations Management Suite" tabindex="20" data-bi-name="Productivity_OperationsManagement_OperationsManagementSuite">
                                    Operations Management Suite
                                </a>
                                                </li>
                                                <li id="shellmenu_56">
                                                    <a href="https://www.microsoft.com/ru-ru/cloud-platform/system-center/" class="shell-l3-list-item" ms.title="System Center" tabindex="20" data-bi-name="Productivity_OperationsManagement_OperationsManagementSuite">
                                    System Center
                                </a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shell-header-nav-toggle " ms.cmpgrp="nav">
                        <button class="shell-header-toggle-menu" ms.cmpnm="mobile global nav toggle button" ms.title="Toggle menu" title="Переключить меню" type="button" data-bi-name="Toggle Menu" tabindex="55">
                            <i class="shell-icon-menu"></i>
                        </button>
                    </div>
                    <ul class="shell-header-toggle" ms.cmpgrp="header actions">
                        <li>
                            <button class="shell-header-toggle-search" type="button" data-bi-name="Toggle Search Icon" ms.title="search toggle" title="Переключить поиск" tabindex="45">
                                <i class="shell-icon-search"></i>
                            </button>
                        </li>
                    </ul>
                    <div class="shell-header-actions" ms.cmpgrp="header actions">
                        <form id="srv_shellHeaderSearchForm" class="shell-search" role="search" action="https://www.microsoft.com/ru-ru/search/result.aspx" method="GET" autocomplete="off" onsubmit=" return window.msCommonShell.onSearch(this) " ms.cmpnm="search">
                            <div class="shell-search-wrapper">
                                <label for="cli_shellHeaderSearchInput" class="sr-only">Search Microsoft</label>
                                <input id="cli_shellHeaderSearchInput" title="Искать на Microsoft.com" name="q" data-bi-dnt="" placeholder="Искать на Microsoft.com" maxlength="200" tabindex="30" type="search">
                                <input name="form" data-bi-dnt="" value="MSHOME" type="hidden">
                                <button type="submit" title="Поиск" data-bi-dnt="" tabindex="40">
                                    <i class="shell-icon-search"></i>
                                    <span class="sr-only">Search</span>
                                </button>
                                <div id="cli_searchSuggestionsContainer" class="shell-search-dropdown-container">
                                    <div class="search-dropdown">
                                        <div class="dropdown-item">
                                            <ul id="cli_searchSuggestionsResults" data-bi-name="Search Suggestions" data-bi-source="UnifiedSearch" ms.cmpgrp="search suggestions"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>