<section class="jet-section jet-section--no-padbottom">
  <h2 class="jet-section__header">Отзыв Клиента</h2>
  {% for review in ctx.reviews  %}
    <div class="jet-review">
      <div class="jet-review__body">{{ review.text|safe }}</div>
      <div class="jet-review__author">
        <div class="jet-review__img">
          <img src="/images/review/{{ review.image }}" alt="{{ review.author }}">
        </div>
        <div class="jet-review__name">{{ review.author }}</div>
        <div class="jet-review__post">{{ review.authorPost }}</div>
      </div>
    </div>
  {% endfor %}
</section>