.c-button {
    padding: 10px 50px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    line-height: normal;
    transform: skewX(-20deg);
    background: @orange-interface-color;
    font-size: 24px;

    &__text {
        display: inline-block;
        transform: skewX(20deg);
        padding-left: 8px;
    }

    &_main {
        position: absolute;
        bottom: 30px;
        left: 50px;
    }

    // &_purple {
    //     background-color: #7a32b8;
    //     box-shadow: 0 4px #55178a;
    // }

    // &_lilac {
    //     background-color: #6257e1;
	//     box-shadow: 0 4px #362ca9; 
    // }
}