.c-card {
  width: 25%;
  float: left;
  padding: 12px;
  box-sizing: border-box;

  &__sizer {
    width: 25%;
  }
  //
  //&__gutter {
  //  width: 4%;
  //}

  &__image{
    position: relative;
    font-size: 0;
    background-position: center;

    &:after {
      font-size: 10px;
      content: 'vk logo';
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }

  &__image_embedded {
    padding-top: 100%;
  }

  &__name {
    max-width: 100%;
    color: #000;
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
  }

  &__last-name {
    font-weight: 600;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    vertical-align: bottom;   
  }

  &__description {
      color: #000;
  }

  &__about {
    background: #fff;
    margin-top: 2px;
    padding: 25px;
  }
}