.c-condition {
    padding-left: 30px;

    & + & {
        margin-top: 50px;
    }

    

    &__header {
        position:  relative;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 30px;

        &:before {
            position: absolute;
            content: attr(data-number);
            left: -30px;
        }
    }

    &__text {
        font-size: 16px;
        // list-style: disc;
        font-weight: 200;

        & + & {
            margin-top: 10px;
        }
    }

    &__button {
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 15px; 
        z-index: 10;      
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 50%;
        font-weight: 300;
        border: 4px solid;

        &-orange{
            background: #be4e08;

            &:hover{
                background: #be4e08 - #111;
            }
        }
        &-blue{
            background: @blue-color;

            &:hover{
                background: @blue-color - #111;
            }
        }

        &-more, &-more:hover,&-orange, &-orange:hover{
            background-image: url('@{storage}arrowDown.png');
            background-repeat: no-repeat;
            background-position: 50% 80%;
        }
        &-less, &-less:hover{
            background-image: url('@{storage}less.png');
            background-repeat: no-repeat;
            background-position: 50% 20%;
        }

        & > p{
          transform: translate(0, -50%); 
          margin-top: 50%;
        }
        
        &-more{
            bottom: 70px;
            
            .screen-xs({
        bottom: 20px;
    });
        }
        &_bold{
            font-weight: 600;
        }
      }

}
.subpoint{
    margin-left: 20px;
}
