.c-condition {
    padding-left: 30px;

    & + & {
        margin-top: 50px;
    }

    

    &__header {
        position:  relative;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 30px;

        &:before {
            position: absolute;
            content: attr(data-number);
            left: -30px;
        }
    }

    &__text {
        font-size: 16px;
        list-style: disc;

        & + & {
            margin-top: 10px;
        }
    }

    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    &__button {
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        background: #ffa500;
        padding: 10px 15px;
        z-index: 10;

        &-more{
            bottom: -50px;
        }
      }

}
