.c-headline{
    background: @orange-color;
    display: inline-block;
    transform: skewX(-20deg);
    font-size: 50px;
    line-height: .8em;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: @headers-font;
    font-weight: 900;

    &__text {
        color: #fff;
        position: relative;
        display: inline-block;
        top: 10px;
    }
}