.c-headline{
    background: @orange-interface-color;
    display: inline-block;
    transform: skewX(-20deg);
    font-size: 50px;
    line-height: .8em;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: @headers-font;
    font-weight: 900;

    &__text {
        color: #fff;
        position: relative;
        display: inline-block;
        top: 10px;

        .screen-sm-max({
          font-size: 22px;
        });
    }

    & ~ & {
        margin: 30px auto 70px;

    }
}

.c-headline_blue {
    background: @blue-color;
}

.c-headline_header {
    font-size: 90px;
    background: rgba(8, 130, 195, .7);
    transform: skewX(-20deg) translateX(-50%);
    line-height: .7;

    .c-headline__text {
        text-shadow: 0 4px rgba(209,94,3,.47);        
    }
}