.c-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;

    &_centered {
        text-align: center;
        width: auto;
        max-width: 670px;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 0;
    }
    &_right {
        right: 0;
    }

    p {
        padding-left: 9px;        
        display: block;
        line-height: 30px;
    }

    p + p {
        padding-top: 40px;
    }

    &__header {
        margin-bottom: 60px;
    }

    &__button {
        margin-top: 40px;
    }
}