.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 20;
    overflow: hidden;
    color: #4c4c4c;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        display: block;
        cursor: pointer;

    }    
    &__button{
        width: 100%;
        margin-top: 40px;
    }
    &__arrow{
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        line-height: normal;
        transform: skewX(-20deg);
        background: @orange-interface-color;
        font-size: 18px;
        text-decoration: none;
        position: absolute;
        width: 35%;
        text-align: center;
        white-space: nowrap;
        margin-top: 40px;
        display: none;
        .screen-xs({
          display: none;  
        });

        &_left{
            left: 10%;
        }
        &_right{
            right: 10%;
        }

        &:hover{
            background: @orange-interface-color - #111;
        }
    }

    
    &__block {
        transition: all 1s;
        height: 100%;
        width: 50%;
        position: absolute;
        left: 100%;
        transform: none;
        background: #fff;
        padding: 55px 40px;

        .screen-xl-min({
            width: 50%;
        });

        .active & {
            transform: translate(-100%, 0);
            overflow-y: scroll;
            overflow: visible;
            
            border-left: 5px solid @green-color;
            .screen-xs({
                border: none;  
            });
        }

        .screen-xs({
          width: 100%;  
        });
    }
    &__content {
        // overflow: auto;
        min-height: 100%;
    }
    &__pic{
        position: absolute;
        right: 100%;
        height: 80%;
        width: 100%;
        overflow: hidden;
        text-align: right;
        .screen-xs({
            position: relative;
            right: 0;
        });
    }
    &__image {
        // margin: 25px auto 30px;
        // width: 100%;
        height: 100%;
        .screen-xs({
            width: 100%;
            height: auto;
        });
    }

    &__name {
        font-weight: 600;
        max-width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }

    &__full-description {
        font-size: 16px;
        line-height: 24px;
    }
}

.active .c-modal{
    display: block;
    bottom: 0;
    right: 0;
    height: 100%;
}
