.c-section {
  width: 100vw;
  height: 100vh !important;
  background: #00bcf2;
  //border: 1px solid darkred;
  overflow: hidden;

  &__box {
    margin: auto;
    width: 100%;
    max-width: 1174px;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    .prevent-scroll & {
      overflow: hidden;
    }
  }

  &_pink {
    background: @light-pink-color;
    background: linear-gradient(to right, @light-pink-color, @dark-pink-color);
  }

  &_blue {
    background: @blue-color;
  }

  &_purple {
    background: @purple-color;
  }
}