.c-section {
  width: 100vw;
  //min-height: 100vh;
  background: #00bcf2;
  //overflow: hidden;
  position: relative;

  &__box {
    margin: auto;
    width: 100%;
    max-width: 1180px;
    //height: 100vh;
    //overflow-y: scroll;
    -ms-overflow-style: none;
    position: relative;
    padding: 0 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    .prevent-scroll & {
      overflow: hidden;
    }
  }

   &:after,
   &:before {
      content: '';
      display: block;
      position: absolute;
   }

   &_main {
     background: @orange-color;

     &:after {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 85%;
        background: url('../storage/main.png') no-repeat;
        background-size: cover;
        background-position: center bottom;
      }
   }

   &_about {
      background: @light-blue-color;
      &:after {
        top: 0;
        left: ~"calc(45% + 350px)";
        width: 100%;
        height: 80%;
        background: url('../storage/about-right.png') no-repeat;
        background-size: contain;
        background-position: left top;
      }
      &:before {
        top: 0;
        right: ~"calc(45% + 350px)";
        width: 100%;
        height: 80%;
        background: url('../storage/about-left.png') no-repeat;
        background-size: contain;
        background-position: right top;
      }
   }

  &_how-to-participate {
    background: @green-color;

    &:after {
      bottom: 0;
      left: 55%;
      width: 100%;
      height: 90%;
      background: url('../storage/girl-right.png') no-repeat;
      background-size: contain;
      background-position: left bottom;
    }
  }

  &_gifts {
    background: @blue-color;

    &:after {
      bottom: 10%;
      right: 55%;
      width: 100%;
      height: 90%;
      background: url('../storage/girl-left.png') no-repeat;
      background-size: contain;
      background-position: right center;
    }
  }

  &_stars {
    background: @orange-color;

    .c-section__box {
      z-index: 1;
    }

    &:after {
      top: -315px;
      left: 40%;
      width: 65%;
      height: 85%;
      background: url('../storage/stars.png') no-repeat;
      background-size: cover;
      background-position: left top;
    }
  }

  &_girls {
    overflow: visible;
  }

  &_dreamers {
    background: @blue-color;

    .c-section__box {
      z-index: 1;
    }

    &:after {
      top: 0;
      left: 50%;
      width: 65%;
      height: 85%;
      background: url('../storage/great.png') no-repeat;
      background-size: cover;
      background-position: left top;
    }
  }

  &_condition {
    background: @orange-color;
  }
}