.c-section {
  width: 100vw;
  background: #00bcf2;
  position: relative;
  box-sizing: border-box;

  &__background {
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
  }

  &__description {
    margin: 50px auto 65px;
  }

  &__box {
    margin: auto;
    width: 100%;
    max-width: 1180px;
    min-height: 100%;
    -ms-overflow-style: none;
    position: relative;
    padding: 0 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    .prevent-scroll & {
      overflow: hidden;
    }
  }

   &_main {
     background: @orange-color;

     .c-section__background {
        bottom: 0;
        left: -5%;
        right: 0;
        width: 110%;
        height: 85%;
        background-position: center top;
      }
   }

   &_about {
      background: @light-blue-color;

      .c-section__background {
        top: 0;
        right: ~"calc(45% + 350px)";
        width: 100%;
        height: 80%;
        background-position: right top;
        background-size: contain;

        &:first-child {
          top: 0;
          left: ~"calc(45% + 350px)";
          width: 100%;
          height: 80%;
          background-position: left top;
        }
      }
   }

  &_how-to-participate {
    background: @green-color;

    .c-section__background {
        bottom: 0;
        left: 50%;
        right: 0;
        width: 50%;
        height: 95%;
        background-position: left bottom;
      }
  }

  &_gifts {
    background: @blue-color;

    .c-section__background {
        bottom: 0;
        left: 0;
        width: 50%;
        height: 95%;
        background-position: right center;
      }

    &:after {
      bottom: 10%;
      right: 55%;
      width: 100%;
      height: 90%;
      background: url('../storage/girl-left.png') no-repeat;
      background-size: contain;
      background-position: right center;
    }
  }

  &_stars {
    background: @orange-color;

    .c-section__background {
      top: 0;
      left: 40%;
      width: 65%;
      height: 85%;
      background-position: 0 -315px;
    }
  }

  &_girls {
    background: @green-color;

    .c-section__background {
        top: 0;
        left: 40%;
        width: 65%;
        height: 650px;
        background-position: 0 -100px;
      }
  }

  &_dreamers {
    background: @blue-color;

    .c-section__box {
      z-index: 1;
    }

    &:after {
      top: 0;
      left: 50%;
      width: 65%;
      height: 85%;
      background: url('../storage/great.png') no-repeat;
      background-size: cover;
      background-position: left top;
    }
  }

  &_condition {
    background: @orange-color;
  }
}